<div class="container">
	<mat-card>
		<mat-card-title>Login Form</mat-card-title>
		<mat-card-content>
			<div class='content-container'>
				<mat-form-field>
					<input matInput placeholder="email" type="email">
				</mat-form-field>
				<mat-form-field>
					<input matInput placeholder="Password" type="password">
				</mat-form-field>
			</div>
		</mat-card-content>
		<mat-card-footer>
			<div class="footer-container">
				<button mat-raised-button color="primary">Login</button>
			</div>
		</mat-card-footer>
	</mat-card>
</div>